name: Deploy Stack

on:
  workflow_call:
    inputs:
      ENVIRONMENT:
        required: true
        type: string
      AWS_REGION:
        required: true
        type: string
      STACK_NAME:
        required: true
        type: string

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    environment: ${{ inputs.ENVIRONMENT }}
    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: us-east-1
          role-to-assume: ${{ vars.PIPELINE_EXECUTION_ROLE }}
          role-session-name: sam-deploy
          role-duration-seconds: 3600
          role-skip-session-tagging: true

      - name: Replace Variables in samconfig
        run: |
          npm i -g replace-in-files-cli
          replace-in-files --string='{{OpenWeatherAPIKey}}' --replacement='${{ secrets.OpenWeatherAPIKey }}' ./samconfig.ci.yaml
          replace-in-files --string='{{OpenWeatherBaseUrl}}' --replacement='${{ vars.OpenWeatherBaseUrl }}' ./samconfig.ci.yaml
          cat ./samconfig.ci.yaml

      - name: SAM Build and Deploy
        run: |
          sam --info

          sam build

          sam deploy \
          --stack-name ${{inputs.STACK_NAME }} \
          --s3-bucket ${{ vars.ARTIFACTS_BUCKET_NAME }} \
          --no-fail-on-empty-changeset \
          --role-arn ${{ vars.CLOUDFORMATION_EXECUTION_ROLE }}